body{
    font-family: Inter;
    margin: 0;
    padding-left:4vw;
    padding-right:4vw;
}

/* -----------------------SECTION 1-------------------------- */

.section1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:3vw;
    border-bottom: 2px solid rgba(77, 77, 77, 0.199);
}

.s1-words{
    width:45%;
    padding-right:40px;
}

.s1-words h2{
    font-size:30px;
}

.s1-words p{
    font-size:15px;
    line-height:25px;
    padding-top:20px;
    font-weight: 500;
}

.s1-icon{
    display:flex;
    padding-top:10px;
    align-items: center;
}

.s1-icon img{
    padding-top:15px;
    padding-bottom:30px;
}

.s1-icon p{
    font-size: 15px;
    margin-left:20px;
    margin-right:40px;
    padding-bottom:30px;
}

/* -----------------------SECTION 2-------------------------- */
.section2-title{
    display:flex;
    padding-top:20px;
    padding-bottom:20px;
}

.section2-title svg{
    width:30px;
    margin-right:20px;
}


#fitness-summary-container{
    border-radius:20px;
    padding:10px;
    height:160px;
    margin-right:20px;
}

#fitness-summary-container img{
    width:20px;
}

#fitness-summary-container h4{
    padding-left:5px;
    width:18vw;
    font-weight:500;
    font-size:15px;
}

#fitness-summary-container h5{
    display: flex;
    justify-content:flex-end;
    color:#141414;
}

#fitness-summary-container h6{
    font-size:45px;
    font-weight:normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
}

#fitness-summary-container p{
    font-size:15px;
    text-align: center;
}

/* -----------------------SECTION 3a-------------------------- */