body {
    font-family: Inter;
    margin: 0;
}

.header {
    background-color: rgb(255, 241, 226);
    display: flex;
    align-items: center;
    padding: 0.5vw 2vw 0.5vw;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.login_btn {
    color: white;
    background-color: #FFAD84;
    border-radius: 68px;
    margin-left: auto;
    margin-right: 3vw;
    width: 8.5vw;
    font-size: 10pt;
    text-align: center;
    padding: 0.75vw;
    font-weight: bold;
}

@media (max-width: 900px) {
    .login_btn {
        font-size: 2.25vw;
        width: 10vw;
        padding: 1.5vw;
    }
}

/* ___________________FADE IN ANIMATION__________________ */

.left-fade-in,
.right-fade-in {
    opacity: 0;
    transition: opacity 2s ease, transform 2s ease;
}

.right-fade-in {
    transform: translateX(50px);
    /* Start slightly to the right */
}

.left-fade-in {
    transform: translateX(-50px);
    /* Start slightly to the left */
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

/* _______________________PAGE 1_______________________ */
#page1 {
    display: flex;
    height: 50vw;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(180deg, white 80%, #ffe0c0, #3B3636);
}

.page1n3-words {
    white-space: nowrap;
    padding-left: 4vw;
    padding-bottom: 1vw;
    line-height: 30px;
}

#page1 h1 {
    font-size: 2.6vw;
}

#page1 p {
    font-size: 1.3vw;
    line-height: 2.2vw;
}

#page1 img {
    width: 37vw;
    transform: translateX(-5vw);
}

#tryforfree_btn {
    color: white;
    background-color: #FFAD84;
    border-radius: 68px;
    margin-left: 4vw;
    margin-top: 1.5vh;
    width: 13vw;
    font-size: 1rem;
    text-align: center;
    padding: 1vw;
}

#page1-pic {
    display: flex;
    justify-content: flex-end;
    padding-top: 8vw;
}

@media (max-width: 450px) {
    #page1 {
        height: 200vw;
        flex-direction: column;
        padding-top:17vw;
        padding-left:0;
    }
    
    .page1n3-words {
        white-space:wrap;
        padding: 2vw;
    }

    #page1 h1 {
        padding-top: 15vw;
        font-size: 10vw;
        text-align: center;
        line-height: 55px;
    }

    #page1 p {
        font-size: 4.5vw;
        text-align: center;
        line-height: 30px;
    }

    #page1 img {
        width: 90vw;
    }

    #tryforfree_btn {
        margin: 0 auto;
        white-space: nowrap;
        width: 200px;
        padding:3vw;
        font-size: 5vw;
    }
}

/* _____________________PAGE 2_______________________ */
.page2 {
    background-color: rgb(65, 56, 53);
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroll,
.scroll2 {
    overflow: hidden;
    display: flex;
    z-index:0;
}

.scroll div,
.scroll2 div {
    display: flex;
    animation: moving 30s linear infinite;
}

.scroll2 div {
    animation-delay: 3.5s;
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scroll img,
.scroll2 img {
    width: 25vw;
    height: 13.5vw;
    opacity: 0.5;
    padding: 10px;
    border-radius: 20px;
}

#page2-heading {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 25%;
}

#page2-heading h1 {
    font-size: 4.5vw;
    margin: 6px;
}

#page2-word {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page2-word h2 {
    font-size: 8vw;
    background: linear-gradient(0deg, #ffe0c0, #FFAD84);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 5px;
}

#page2-word p {
    color: white;
    font-size: 2vw;
    margin-top: 0;
}

.scroll-visible{
    display:none;
}

@media (max-width: 450px) {
    .scroll-visible{
        display:block;
    }
    .scroll img,.scroll2 img {
    width: 60vw;
    height: 37.1vw;
    opacity: 0.5;
    padding: 10px;
    border-radius: 20px;
    }

    #page2-heading {
        top: 10%;
        left: 0;
        margin: 3vw;
    }
    
    #page2-heading h1 {
        font-size: 11vw;
        margin: 6px;
    }
    
    #page2-word {
        display: block;
        justify-content: space-between;
        align-items: center;
        margin: 3vw;
    }
    
    #page2-word h2 {
        font-size: 25vw;
        margin-bottom: 5px;
    }
    
    #page2-word p {
        font-size: 5vw;
        margin-top: 0;
    }
}

/* ___________________PAGE 3______________________ */
#page3 {
    display: flex;
    height: 48vw;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-right:4vw;
    background: linear-gradient(180deg, white 80%, #ffe0c0);
}

#page3 h1 {
    font-size: 3vw;
}

#page3 p {
    font-size: 1.5vw;
    line-height: 3vw;
}

#page3 img {
    width: 30vw;
    height: 30vw;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#page3-pic {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#color-rect1,
#color-rect2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    border-radius: 30px;
    transition: transform 0.2s ease;
}

#color-rect1 {
    background: #ffe0c0;
    transform: translateY(40px);
}

#color-rect2 {
    background: #FFAD84;
    transform: translateY(20px);
}

@media (max-width: 450px)  {
    #page3 {
        height: 210vw;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
    }

    #page3 h1 {
        padding-top: 25vw;
        font-size: 10vw;
        text-align: center;
        margin:2vw;
        line-height: 50px;
    }

    #page3 p {
        font-size: 4.5vw;
        text-align: center;
        margin-left:1vw;
        line-height: 30px;
        margin-bottom:10vw;
    }

    #page3 img {
        width: 75vw;
        height: 75vw;
        margin-top: 5vw;
    }

    #color-rect1,
    #color-rect2 {
        width: 75vw;
        height: 75vw;
        margin-top: 5vw;
    }
}

/* ___________________PAGE 4______________________ */
#page4 {
    height: 48vw;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: #ffe0c0;
    position: relative;
}

.scroll h3, .scroll2 h3{
    font-size: 4vw;
    opacity: 0.2;
    margin:0.5vw;
    position: relative;
    z-index:0;
    color:#FFAD84
}

#page4-heading{
    padding-top:2vw;
    position: absolute;
    z-index:1;
    top:0%;
    width:100%;
    text-align: center;
}

#line1,#line2{
    text-align: center;
    margin:1px;
}

#line1{
    font-size:3vw;
}

#line2{
    font-size:6vw;
    background: linear-gradient(90deg, #ffbf76, #ff7a99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 5px 2px #ffbf7f6e;
}

#page4-content{
    position: absolute;
    z-index:1;
    top:20%;
    padding:4vw;
    display:flex;
}

#page4-content h2 {
    font-size: 2.5vw;
    width:80%;
}

#page4-content p {
    font-size: 1.5vw;
    line-height: 3vw;
    width:80%;
}

#page4-content img{
    width: 40vw;
    height: 27vw;
    border-radius: 20px;
    margin-top:2vw;
}

@media (max-width: 450px)  {
    .scroll h3, .scroll2 h3{
        font-size:8vw;
    }

    #page4 {
        height: 210vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #page4-heading{
        padding-top:3vw;
    }

    #line1{
        font-size:7vw;
        padding:1vw;
    }
    
    #line2 {
        font-size: 10vw;
    }

    #page4-content{
        top:10%;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #page4-content h2{
        font-size:6.5vw;
        width:100%;
    }

    #page4-content p {
        font-size: 3.7vw;
        line-height: 30px;
        margin-bottom:10vw;
        width:100%;
    }

    #page4-content img {
        width: 75vw;
        height: 75vw;
        margin-top: 5vw;
        
    }
}

/* ___________________PAGE 5______________________ */
#page5 {
    height: 48vw;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(0deg, white 90%, #ffe0c0);
    position: relative;
}
