/* personnal css rule
1. aestethic section
2. positions
3. functionallity  */

body {
  background-color: #282c34;
  color: lightgray;
  font-family: "poppins";
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  justify-items: center;
}

.scroll-hidden {
  opacity: 0;
  transition: all 1s;
}

.scroll-shown {
  opacity: 1;
}

.login-box {
  display: flex;
  border: white solid;
  border-radius: 20px;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
}

.login-form {
  background-color: gray;
  border-radius: 17px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mew-fit-logo img {
  scale: 80%;
  transform: translateY(10%);
}

.login-header {
  color: #ff946e;
  font-family: "Mogra";
  font-size: 1.5rem;
}
